<header>

	<div class="nav">
		<ul class="topnav" id="nav-bar">
			<li id="logo">
			    <a class="active" href="{{ my_page.url | prepend: site.baseurl }}">
			    	<img id="jenkana" border="0" alt="Jennifer Parak" src="assets/img/jenkana.png" width="130" height="130">
			    </a>
			</li>
			<li class="icon">
					<a href="javascript:void(0);" onclick="myFunction()">&#9776;</a></li>
		    <li><a href="assets/CV_JenniferParak_2018.pdf" download>Download CV</a></li>
		    {% for item in site.data.settings.menu %}
		 	<li><a href="{{ item.url }}" class="smoothScroll">{{ item.name }}</a></li>
		    {% endfor %}
		    
		</ul>
	</div>

    <div class="intro">
    	<!--<div class="row">!-->
    		<div class="col-12">
			<p class="site-heading"> 
				{{ site.data.settings.intro-heading}}</p>
		</div>
		<!--</div>!-->
		<!--<div class="row">!-->
			<div class="col-12">
			<p class="site-subheading"> 
				{{ site.data.settings.intro }}
			</p>
			</div>
		<!--</div>!-->
	</div>
</header>