/**
 * Site footer
 */
.site-footer {
    font-family: 'Source Sans Pro', sans-serif;
    border-top: 1px solid grey;//$grey-color-light;
    background-color:rgb(30,30,40);//black;
    padding: 30px;
    border-top: 5px solid #CC6666;//$grey-color-dark;
    border-bottom: 2px solid #CC6666;//$grey-color-light;
    color: white;
    min-height: 150px;
    text-align: center;
}

.lockup {
    padding: 10px 10px;
    text-align: center;

}

.link-wrapper {
    text-align: center;
}

.copy-left { color: white; display: inline-block; text-align: right; margin: 0px; -moz-transform: scaleX(-1); -o-transform: scaleX(-1); -webkit-transform: scaleX(-1); transform: scaleX(-1); filter: FlipH; -ms-filter: “FlipH”; }

/**
 * Social Media Stuff
 */

@font-face {
    font-family: 'si';
    src: url('../img/socicon/socicon.eot');
    src: url('../img/socicon/socicon.eot?#iefix') format('embedded-opentype'),
         url('../img/socicon/socicon.woff') format('woff'),
         url('../img/socicon/socicon.ttf') format('truetype'),
         url('../img/socicon/socicon.svg#icomoonregular') format('svg');
    font-weight: normal;
    font-style: normal;
 
}
 
@media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
        font-family:si;
        src: url('../img/socicon/socicon.svg') format(svg);
    }
}

.soc {
    overflow:hidden;
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    *display:inline;
    zoom:1;
}

.soc li a {
    font-family:si!important;
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 46px;
    height: 46px;
    line-height: 46px;
    font-size: 25px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 39px;
    color: #ffffff;
    background-color: #CC6666;
}

.soc li a:hover {
    color: #CC6666;
    background-color: white;
}

.soc-icon-last{
    margin:0 !important;
}

.soc-google:before {
    content:'c';
}
.soc-linkedin:before {
    content:'j';
}
.soc-twitter:before {
    content:'a';
}
.soc-github:before {
    content:'Q';
}
.soc-instagram:before {
    content:'x';
}

/* 12-column responsive grid */

.row {
    clear: both;
    max-width: 1040px;
    margin: 0 auto;
}

[class^="col-"] {
    float: left;
    margin: 0 3.84615384615% 0 0;
    list-style: none;
    position: relative;
}

[class^="col-"]:last-child {
    margin: 0;
}

.col-1 { width: 4.8076923077% }
.col-2 { width: 13.4615384615% }
.col-3 { width: 22.1153846154% }
.col-4 { width: 30.7692307692% }
.col-5 { width: 39.4230769231% }
.col-6 { width: 48.0769230769% }
.col-7 { width: 56.7307692308% }
.col-8 { width: 65.3846153846% }
.col-9 { width: 74.0384615385% }
.col-10 { width: 82.6923076923% }
.col-11 { width: 91.3461538462% }
.col-12 { width: 100%; margin: 0 }